/* header */
.logo {
    font-size: 45px;
    font-weight: 500;
    color: #FFF;

}

.logo-s {
    margin-left: -2px;
}

.catagories {
    font-size: 16px;
    color: #FFF;
    background-color: #E30047;
    font-weight: 400;
    padding: 14px;
    margin-bottom: 0px;
    width: 100%;
}

.header-container {
    background-color: #232F3F;
}

.search {
    width: 50%;

}

.search-box {
    background-color: #34465C;
    font-weight: 300;
    border: none;
    width: 78%;
    height: 44px;
    padding: 1rem;
    color: #fff;
}

.search-btn {
    color: #FFF;
    height: 44px;
    border: none;
    padding: 0px 10px;
    background-color: #E8AA02;
    margin-left: -4px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.form-select {
    height: 44px;
    background-color: #34465C;
    border: none;
    width: 26%;
    color: #ACB8C8;
    font-weight: 500;
    border-radius: 0px;
}

.form-select:focus {

    box-shadow: 0 0 0 0;
}

.shopping-cart {
    background-color: #E8AA02;
    color: #FFF;
    height: 44px;
    padding: 0px 8px;
}

.cart-section {
    width: 50%;
}

/* address and nav*/
.address-section {
    color: #5D6265;
    font-size: 15px;
}


.nav-bar ul {
    list-style: none;

}

.nav-bar li a {
    text-decoration: none;
    color: #5D6265;
    font-size: 15px;
}

/* main section */
.main-section {
    background-color: #F5F5F5;
}

/* Category */
.category-nav {
    font-size: 15px;
    color: #5D6265;
}
.cat-close{
    display: none;
}

.category-bar {
    background-color: #FFF;
}

.catagories-item {
    font-size: 14px;
}

.catagories-item-icon {
    font-size: 10px;
}

.catagories-item-icon-square {
    color: #5D6265;
    font-size: 12px;
}

.size-item {
    font-size: 18px;
    border: 1px solid #F3F3F3;
    padding: 1px 9px;
    font-weight: 500;
}

.cart-text {
    font-size: 14px;
    font-weight: 500;
}

.cart-text-subtotal {
    font-size: 14px;
    font-weight: 700;
}

.checkout-btn {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1px;
    padding: 8px 15px;
    fill: #000;
    color: #FFF !important;
    background-color: #FF2C5A;
    border: none;
    border-radius: 0;
    text-decoration: none;
}

.checkout-btn:hover {
    color: #FFF !important;
    background-color: #ce1b42;
}

.cart-img {
    width: 35%;
}

.cart-product-title h6 {
    font-size: 14px;
}

.cart-delete-btn {

    font-weight: 400;

    line-height: 1.2em;
    letter-spacing: 1px;
    padding: 8px 14px;
    fill: #000;
    color: #000 !important;
    background-color: #FFF;
    border: none;
    margin-top: -24%;

    text-decoration: none;
}



/* Banner */
.banner-section {
    background-image: url(/images/banner.jpg), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    display: flex;

    align-items: center;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.banner-text {
    color: #FFF;
    padding-left: 8%;

}

.banner-text h1 {
    width: 60%;

}

/* Products section */
.products-section {
    background-color: #FFF;
}

/* sort By */
.sort-by-icon {
    font-size: 10px;
}

.grid-clr {
    background-color: #E30047;
    color: #FFF;
}

.view-select {
    width: 10px;
}


/* di]splay products */
.display-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border: none;
    margin-bottom: 10px;
}

.card:hover {

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card-body {
    text-align: center;

}

.card-img,
.card-img-bottom,
.card-img-top {
    height: 15rem;
    padding: 4px;
}

.start-icon-color {
    color: #E6CB24;
}

.card-btn {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.2em;
    letter-spacing: 1px;
    padding: 8px 15px;
    fill: #000;
    color: #000 !important;
    background-color: #fff;
    border: 1px solid #5D6265;
    border-radius: 0;
    text-decoration: none;
}

.card-btn:hover {
    color: #fff !important;
    background-color: #000;
}

/* Mobile responsive */
@media only screen and (max-width:688px) {
    .catagories-section {
        position: absolute;
        margin-left: -690px;

    }

    .catagories-section-display {
        position: absolute;
        width: 80%;
        z-index: 2;

    }

    .search-section {
        flex-direction: column;
    }

    .search {
        width: 100%;

    }

    .cart-section {
        width: 100%;
        margin-top: 10px;
    }

    .cart {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .address-section {
        font-size: 14px;
    }

    /* display product */
    .display-product {

        grid-template-columns: repeat(1, 1fr);
    }

    .cat-close{
        display: block;
    }
    .search-section{
        display: none;
    }
}

/* Tab responsive */
@media only screen and (min-width:689px) and (max-width:992px) {
    .logo {
        font-size: 35px;

    }

    .search-box {
        width: 60%;
        height: 26px;

    }

    .search-btn {
        height: 32px;
    }

    .form-select {
        width: 26%;
        height: 32px;
        font-size: 10px;
    }

    .shopping-cart {
        height: 32px;
        font-size: 10px;
    }

    .address-section {
        font-size: 9px;
    }

    .nav-bar li a {
        font-size: 9px;
    }

    /* catagories */

    .catagories-item {
        font-size: 10px;
    }


    .size-item {
        font-size: 14px;
        border: 1px solid #F3F3F3;
        padding: 1px 5px;
        font-weight: 400;
    }

    .cart-product-title h6 {
        font-size: 10px;
    }

    .cart-delete-btn {

        font-weight: 400;

        line-height: 1.2em;
        letter-spacing: 1px;
        padding: 8px 10px;
        fill: #000;
        color: #000 !important;
        background-color: #FFF;
        border: none;
        margin-top: -58%;

        text-decoration: none;
    }

    /* display product */
    .display-product {

        grid-template-columns: repeat(2, 1fr);
    }

}